@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Open+Sans:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
}

.title {
  font-size: 1.5rem;
  margin: 10px 0 20px;
  text-align: center;
}

.calculator {
  background-color: #fff;
  border-radius: 5px;
  color: #222;
  padding: 20px;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 5px;
}

label {
  color: #2e2e2e;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 20px;
}

input {
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  outline: none;
  padding: 8px;
}

input:focus {
  border: 1px solid #fe4880;
}

#totalOutput {
  border-bottom: 1px solid #222;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  padding: 5px;
  margin: 5px;
  width: 100%;
}

button {
  background-color: #fe4880;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  margin-top: 10px;
  padding: 10px 15px;
  width: 100%;
  transition: all 0.3 ease-in-out;
}

button:active,
button:hover {
  background-color: #df1857;
}
